body {
  background-color: #7db7ef3b;
}

.timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  margin: 40px auto;
  color: #fff;
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background: rgb(159 160 214);
  animation: radial-pulse 1s infinite;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 40px 0px rgba(8, 231, 19, 0.836);
  }

  50% {
    box-shadow: 0 0 40px 0px rgba(17, 214, 228, 0.747);
  }
  75% {
    box-shadow: 0 0 40px 0px rgba(177, 233, 24, 0.5);
  }
  100% {
    box-shadow: 0 0 40px 0px rgba(115, 15, 230, 0.767);
  }
}

.load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.load :first-child{background:#19A68C;animation-delay:-1.5s}
.load :nth-child(2){background:#F63D3A;animation-delay:-1s}
.load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.load :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}